html {
  font-family: monospace !important;
}
body {
  font-size: 18px;
  background-color: #efefef;
  overflow: hidden;
}
.graph-svg-component {
  border: 2px solid black;
  border-radius: 4px;
  background-color: #F4F5F5
}
#html-input-box {
  background-color: #002B36;
  color: white
}

.node{
  cursor:pointer
}
.node rect {
  fill: #fff;
  stroke: steelblue;
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
#visualize-btn {
  font-size: 10px;
  font-family: arial;
}
